**/target/
**/.directory
**/artifacts/
**/dist/
impulse-error-pages/tw-animate.css
impulse-client-kit/examples/showcase/tw-animate.css
impulse-client-kit/examples/ssr_showcase/tw-animate.css
impulse-client-kit/examples/showcase/.tailwind-sources.css
impulse-client-kit/examples/ssr_showcase/.tailwind-sources.css
